# Project 1: SAT & ACT Analysis

## Problem Statement

- To identify likely factors influencing participation rates and scores for SAT & ACT tests in various states?

## Executive Summary

If you want to, it's great to use relative links to direct your audience to various sections of a notebook. **HERE'S A DEMONSTRATION WITH THE CURRENT SECTION HEADERS**:

### Contents:
- [2017 Data Import & Cleaning](#Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [1]:
#Imports:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [2]:
#For 2019 to run pd.read_csv("../data/sat_2019.csv", encoding = "ISO-8859-1")


#Code:
df_sat_2017 = pd.read_csv("../a_data/sat_2017.csv")
df_act_2017 = pd.read_csv("../a_data/act_2017.csv")

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [3]:
#Code:
df_sat_2017.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017

In [4]:
df_act_2017.head(10)

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

#### 3. Verbally Describe Data

- The **SAT** scores dataset from 2017 contains the following state-based information:
    - Participation in units of percentage.
    - Reading and writing, Math, and total scores.

- The **ACT** scores from 2017 contains the following state-based information:
    - Participation in units of percentage.
    - English, Math, Reading, Science, and Composite scores.

#### 4a. Does the data look complete?

- Checking for missing values and also meaningless values in the following cells.

#### <font color='blue'> SAT Assessment</font>

- Based on the assessment, there doesn't seem to be any missing values.
- The Math section for SAT has a minimum below the possible range!
- The participation column needs to be converted into float.

#### <font color='blue'> ACT Assessment</font>

- Based on the assessment, there doesn't seem to be any missing values.
- The scores are in the possible range.
- The participation and composite columns need to be changed to float

In [5]:
df_sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [6]:
missing_values_count = df_sat_2017.isnull().sum()
missing_values_count

State                                 0
Participation                         0
Evidence-Based Reading and Writing    0
Math                                  0
Total                                 0
dtype: int64

In [7]:
df_sat_2017.describe()

       Evidence-Based Reading and Writing        Math        Total
count                           51.000000   51.000000    51.000000
mean                           569.117647  547.627451  1126.098039
std                             45.666901   84.909119    92.494812
min                            482.000000   52.000000   950.000000
25%                            533.500000  522.000000  1055.500000
50%                            559.000000  548.000000  1107.000000
75%                            613.000000  599.000000  1212.000000
max                            644.000000  651.000000  1295.000000

In [8]:
df_act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

In [9]:
missing_values_count = df_act_2017.isnull().sum()
missing_values_count

State            0
Participation    0
English          0
Math             0
Reading          0
Science          0
Composite        0
dtype: int64

In [10]:
df_act_2017.describe()

         English       Math    Reading    Science
count  52.000000  52.000000  52.000000  52.000000
mean   20.919231  21.173077  22.001923  21.040385
std     2.332132   1.963602   2.048672   3.151113
min    16.300000  18.000000  18.100000   2.300000
25%    19.000000  19.400000  20.475000  19.900000
50%    20.550000  20.900000  21.700000  21.150000
75%    23.300000  23.100000  24.125000  22.525000
max    25.500000  25.300000  26.000000  24.900000

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

I addressed this question in the previous section.

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

In the following cell, I remove the unrealistic ACT score rows.

In [11]:
drop_indices = df_sat_2017[ df_sat_2017["Math"] < 400].index

df_sat_2017.drop(drop_indices , inplace=True)

In [12]:
#code

df_sat_2017.describe()

       Evidence-Based Reading and Writing        Math        Total
count                            50.00000   50.000000    50.000000
mean                            569.78000  557.540000  1127.420000
std                              45.88241   47.362781    92.945911
min                             482.00000  468.000000   950.000000
25%                             532.75000  523.250000  1055.250000
50%                             559.50000  549.500000  1107.500000
75%                             613.50000  601.000000  1214.000000
max                             644.00000  651.000000  1295.000000

In [13]:
df_sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               50 non-null     object
 1   Participation                       50 non-null     object
 2   Evidence-Based Reading and Writing  50 non-null     int64
 3   Math                                50 non-null     int64
 4   Total                               50 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.3+ KB

#### 5. What are your data types? 
Display the data types of each feature.

In [14]:
#code
df_sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               50 non-null     object
 1   Participation                       50 non-null     object
 2   Evidence-Based Reading and Writing  50 non-null     int64
 3   Math                                50 non-null     int64
 4   Total                               50 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.3+ KB

In [15]:
df_act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

#### <font color='blue'> SAT Assessment</font>

- The participation column needs to be converted into float.

#### <font color='blue'> ACT Assessment</font>

- The participation and composite columns need to be changed to float

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [16]:
#code
def clean_part_cell(participate_cell):
        return float(participate_cell[:-1]) #% is the last character in strings

- Fix any individual values preventing other columns from being the appropriate type.

In [17]:
#code
df_sat_2017["Participation"] = df_sat_2017["Participation"].map(clean_part_cell)

In [18]:
df_sat_2017.describe()

,Participation,Evidence-Based Reading and Writing,Math,Total
count,50.000000,50.00000,50.000000,50.000000
mean,39.220000,569.78000,557.540000,1127.420000
std,35.384933,45.88241,47.362781,92.945911
min,2.000000,482.00000,468.000000,950.000000
25%,4.000000,532.75000,523.250000,1055.250000
50%,34.000000,559.50000,549.500000,1107.500000
75%,65.000000,613.50000,601.000000,1214.000000
max,100.000000,644.00000,651.000000,1295.000000

In [19]:
df_act_2017["Participation"] = df_act_2017["Participation"].map(clean_part_cell)

In [20]:
df_act_2017.describe()

       Participation    English       Math    Reading    Science
count      52.000000  52.000000  52.000000  52.000000  52.000000
mean       65.153846  20.919231  21.173077  22.001923  21.040385
std        31.832518   2.332132   1.963602   2.048672   3.151113
min         8.000000  16.300000  18.000000  18.100000   2.300000
25%        31.000000  19.000000  19.400000  20.475000  19.900000
50%        68.000000  20.550000  20.900000  21.700000  21.150000
75%       100.000000  23.300000  23.100000  24.125000  22.525000
max       100.000000  25.500000  25.300000  26.000000  24.900000

- Finish your data modifications by making sure the columns are now typed appropriately.

In [21]:
#Inspiration: https://stackoverflow.com/questions/11339210/how-to-get-integer-values-from-a-string-in-python

#code
import re

def clean_comp_cell(comp_cell):
        return float(re.search(r'\d+', comp_cell).group())
    
df_act_2017["Composite"] = df_act_2017["Composite"].map(clean_comp_cell)

- Display the data types again to confirm they are correct.

In [22]:
#Code:
df_sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               50 non-null     object
 1   Participation                       50 non-null     float64
 2   Evidence-Based Reading and Writing  50 non-null     int64
 3   Math                                50 non-null     int64
 4   Total                               50 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.3+ KB

In [23]:
df_act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     float64
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     float64
dtypes: float64(6), object(1)
memory usage: 3.0+ KB

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [24]:
#code

new_columns_dict_sat_2017 = {
    'State': 'state',
    'Participation': 'sat_2017_participation',
    'Evidence-Based Reading and Writing': 'sat_2017_read_write',
    'Math': 'sat_2017_math',
    'Total': 'sat_2017_total',
}


new_columns_dict_act_2017 = {
    'State': 'state',
    'Participation': 'act_2017_participation',
    'English': 'act_2017_english',
    'Math': 'act_2017_math',
    'Reading': 'act_2017_reading',
    'Science': 'act_2017_science',
    'Composite': 'act_2017_composite',
    
}

In [25]:
df_sat_2017.rename(columns=new_columns_dict_sat_2017, inplace=True)
df_sat_2017.head()

,state,sat_2017_participation,sat_2017_read_write,sat_2017_math,sat_2017_total
0,Alabama,5.0,593,572,1165
1,Alaska,38.0,547,533,1080
2,Arizona,30.0,563,553,1116
3,Arkansas,3.0,614,594,1208
4,California,53.0,531,524,1055

In [26]:
df_act_2017.rename(columns=new_columns_dict_act_2017, inplace=True)
df_act_2017.head()

,state,act_2017_participation,act_2017_english,act_2017_math,act_2017_reading,act_2017_science,act_2017_composite
0,National,60.0,20.3,20.7,21.4,21.0,21.0
1,Alabama,100.0,18.9,18.4,19.7,19.4,19.0
2,Alaska,65.0,18.7,19.8,20.4,19.9,19.0
3,Arizona,62.0,18.6,19.8,20.1,19.8,19.0
4,Arkansas,100.0,18.9,19.0,19.7,19.5,19.0

In [27]:
df_act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   52 non-null     object
 1   act_2017_participation  52 non-null     float64
 2   act_2017_english        52 non-null     float64
 3   act_2017_math           52 non-null     float64
 4   act_2017_reading        52 non-null     float64
 5   act_2017_science        52 non-null     float64
 6   act_2017_composite      52 non-null     float64
dtypes: float64(6), object(1)
memory usage: 3.0+ KB

#### 8. Create a data dictionary

- #### <font color='blue'> df_sat_2017</font> is a pandas dataframe. Its entries are: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**state**|*object*|sat_2017|The states where the sat exam was taken.|
|**sat_2017_participation**|*float*|sat_2017|The sat participation in units of percentage|
|**sat_2017_read_write**|*integer*|sat_2017|The sat grades for reading and writing|
|**sat_2017_math**|*integer*|sat_2017|The sat grades for math|
|**sat_2017_total**|*integer*|sat_2017|The total sat grades|

- #### <font color='blue'> df_act_2017</font> is a pandas dataframe. Its entries are: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**State**|*object*|act_2017|The states where the act exam was taken.|
|**act_2017_participation**|*float*|act_2017|The act participation in units of percentage|
|**act_2017_english**|*float*|act_2017|The act grades for english|
|**act_2017_math**|*float*|act_2017|The act grades for math|
|**act_2017_reading**|*float*|act_2017|The act grades for reading|
|**act_2017_science**|*float*|act_2017|The act grades for science|
|**act_2017_composite**|*float*|act_2017|The act composite grades|

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [28]:
#code
#act has national row, it's unnecessary for state comparisons
df_act_2017 = df_act_2017.drop([0])

In [39]:
df_sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   50 non-null     object
 1   sat_2017_participation  50 non-null     float64
 2   sat_2017_read_write     50 non-null     int64
 3   sat_2017_math           50 non-null     int64
 4   sat_2017_total          50 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.3+ KB

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [38]:
#Code:
df_tests_2017 = pd.merge(df_sat_2017, df_act_2017, how='left', on = "state")
df_tests_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   50 non-null     object
 1   sat_2017_participation  50 non-null     float64
 2   sat_2017_read_write     50 non-null     int64
 3   sat_2017_math           50 non-null     int64
 4   sat_2017_total          50 non-null     int64
 5   act_2017_participation  50 non-null     float64
 6   act_2017_english        50 non-null     float64
 7   act_2017_math           50 non-null     float64
 8   act_2017_reading        50 non-null     float64
 9   act_2017_science        50 non-null     float64
 10  act_2017_composite      50 non-null     float64
dtypes: float64(7), int64(3), object(1)
memory usage: 4.7+ KB

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [41]:
#code

df_tests_2017.to_csv("../a_data/tests_2017.csv", index=False)

In [43]:
result = pd.read_csv("../a_data/tests_2017.csv")
result.head(2)

,state,sat_2017_participation,sat_2017_read_write,sat_2017_math,sat_2017_total,act_2017_participation,act_2017_english,act_2017_math,act_2017_reading,act_2017_science,act_2017_composite
0,Alabama,5.0,593,572,1165,100.0,18.9,18.4,19.7,19.4,19.0
1,Alaska,38.0,547,533,1080,65.0,18.7,19.8,20.4,19.9,19.0

## 2018 Data Import and Cleaning

Read in the `sat_2018.csv` and `act_2018.csv` files and assign them to appropriately named pandas dataframes. For the **2018 ACT Data**, only the `Composite` scores are available. Repeat the same processes to clean the 2018 data here as you were instructed in the previous sections above.

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [ ]:
#Code:

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [ ]:
#code

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

In [ ]:
#Code:

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

Answer

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which states have the highest and lowest participation rates for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Which states have the highest and lowest mean total/composite scores for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Do any states with 100% participation on a given test have a rate change year-to-year?
- Do any states show have >50% participation on *both* tests either year?

Based on what you've just observed, have you identified any states that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#code

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

#### Define a custom function to subplot histograms

We have data for two tests for two years. We only have composite (and not subtest scores) for the 2018 ACT. We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Participation rates for SAT & ACT
- Math scores for SAT & ACT
- Reading/verbal scores for SAT & ACT

In [ ]:
# Code

#### Plot and interpret scatter plots

For each of the following:
- SAT vs. ACT math scores for 2017
- SAT vs. ACT verbal/reading scores for 2017
- SAT vs. ACT total/composite scores for 2017
- Total scores for SAT 2017 vs. 2018
- Composite scores for ACT 2017 vs. 2018

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
# Code

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
# Code

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

#### (Optional): Using Tableau, create a choropleth map for each variable using a map of the US. 

Save this plot as an image file in an images directory, provide a relative path, and insert the image into notebook in markdown.

## Outside Research

Based upon your observations, choose **three** states that demonstrate interesting trends in their SAT and/or ACT participation rates. Spend some time doing outside research on state policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Choose one state with a lower participation rate and provide a suggestion for how the College Board might increase participation amongst graduating seniors in this state. Are there additional data you desire that would better inform your investigations?

## Bonus: Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers:

#### We generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?

Answer:

Does This Assumption Hold for:
    - Math
    - Reading
    - Rates
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Estimate Limits of Data

Suppose we only seek to understand the relationship between SAT and ACT participation rates in 2017. 

##### Does it make sense to conduct statistical inference given these data specifically? 

Why or why not?

*(think about granularity, aggregation, the relationships between populations size & rates...consider the actually populations these data describe in answering this question)*

Answer:

##### Is it appropriate to compare *these* specific SAT and ACT math scores? 

Why or why not?

Answer:

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
# Code: