# Merging the cleaned data

In [1]:
#Imports:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_test_2017 = pd.read_csv("../a_data/tests_2017.csv")
df_test_2018 = pd.read_csv("../a_data/tests_2018.csv")

df_final = pd.merge(df_test_2017, df_test_2018, how='inner', on = "state")
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   50 non-null     object
 1   sat_2017_participation  50 non-null     float64
 2   sat_2017_read_write     50 non-null     int64
 3   sat_2017_math           50 non-null     int64
 4   sat_2017_total          50 non-null     int64
 5   act_2017_participation  50 non-null     float64
 6   act_2017_english        50 non-null     float64
 7   act_2017_math           50 non-null     float64
 8   act_2017_reading        50 non-null     float64
 9   act_2017_science        50 non-null     float64
 10  act_2017_composite      50 non-null     float64
 11  sat_2018_participation  50 non-null     float64
 12  sat_2018_read_write     50 non-null     int64
 13  sat_2018_math           50 non-null     int64
 14  sat_2018_total          50 non-null     int64
 15  act_2018_participation  50 non-null     float64
 16  act_2018_composite      50 non-null     float64
dtypes: float64(10), int64(6), object(1)
memory usage: 7.0+ KB

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

In [3]:
df_final.head()

,state,sat_2017_participation,sat_2017_read_write,sat_2017_math,sat_2017_total,act_2017_participation,act_2017_english,act_2017_math,act_2017_reading,act_2017_science,act_2017_composite,sat_2018_participation,sat_2018_read_write,sat_2018_math,sat_2018_total,act_2018_participation,act_2018_composite
0,Alabama,5.0,593,572,1165,100.0,18.9,18.4,19.7,19.4,19.0,6.0,595,571,1166,100.0,19.1
1,Alaska,38.0,547,533,1080,65.0,18.7,19.8,20.4,19.9,19.0,43.0,562,544,1106,33.0,20.8
2,Arizona,30.0,563,553,1116,62.0,18.6,19.8,20.1,19.8,19.0,29.0,577,572,1149,66.0,19.2
3,Arkansas,3.0,614,594,1208,100.0,18.9,19.0,19.7,19.5,19.0,5.0,592,576,1169,100.0,19.4
4,California,53.0,531,524,1055,31.0,22.5,22.7,23.1,22.2,22.0,60.0,540,536,1076,27.0,22.7

In [4]:
df_final.to_csv("../a_data/final.csv", index=False)

- #### <font color='blue'> df_final</font> is a pandas dataframe. Its entries are: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**state**|*object*|sat_2017|The states where the sat exam was taken.|
|**sat_2017_participation**|*float*|sat_2017|The sat participation in units of percentage|
|**sat_2017_read_write**|*integer*|sat_2017|The sat grades for reading and writing|
|**sat_2017_math**|*integer*|sat_2017|The sat grades for math|
|**sat_2017_total**|*integer*|sat_2017|The total sat grades|
|**act_2017_participation**|*float*|act_2017|The act participation in units of percentage|
|**act_2017_english**|*float*|act_2017|The act grades for english|
|**act_2017_math**|*float*|act_2017|The act grades for math|
|**act_2017_reading**|*float*|act_2017|The act grades for reading|
|**act_2017_science**|*float*|act_2017|The act grades for science|
|**act_2017_composite**|*float*|act_2017|The act composite grades|
|**sat_2018_participation**|*float*|sat_2018|The sat participation in units of percentage|
|**sat_2018_read_write**|*integer*|sat_2018|The sat grades for reading and writing|
|**sat_2018_math**|*integer*|sat_2018|The sat grades for math|
|**sat_2018_total**|*integer*|sat_2018|The total sat grades|
|**act_2018_participation**|*float*|act_2018|The act participation in units of percentage|
|**act_2018_composite**|*float*|act_2018|The act composite grades|